body {
  margin: 0;
  font-family: "Gambetta", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.slider-container {
  width: 1300px;
  display: flex;
  justify-content: space-between;
}

.slide {
  margin-left: 100px;
  margin-right: 80px;
}

/* .slide-visible {
  margin-left: 170px;
} */
