body {
  margin: 0;
  font-family: "Gambetta", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.slider-container {
  width: 100%;
}
.slide {
  display: flex;
  justify-content: center;
}
.paging-item.active * .paging-dot {
  fill: #ff5300;
}
